  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <span class="copyright">&copy; {{ site.title }} (CEO). CEO is not a registered non-profit. Registration for non-profit status in the Commonwealth of Virginia and to accept tax-free donations under 501(c)(3) is under way.</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div> -->
            </div>
        </div>
    </footer>
